.container {
  padding: 20px;
  min-height: 100vh;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.input-field {
  color: inherit;
}

.timezone-paper {
  padding: 20px;
  margin-top: 20px;
}

.time-slider {
  width: 100%;
}

.input-time {
  font-size: 24px;
  margin-left: 10px;
  color: inherit;
}

.time-label {
  margin-top: 10px;
}

.time-value {
  margin-left: 10px;
}
.button{
  margin: 15px;
}